<!DOCTYPE html>
<html>
    <head>
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class = "header">
            <img class = "headerbg" alt = "Header Background Image" src = "assets/tilesbg.png">
            <img class = "fulllogo" alt = "Logo" src = "assets/fulllogo.png">
            <div class = "headertitlecont">
                <h1 class = "headertitle">Admin Dashboard</h1>
            </div>
            <ul class="hList">
                <li>
                  <a class="menu">
                    <img class="menu-title" alt = "Menu Icon" src = "assets/menu.png">
                    <ul class="menu-dropdown">
                      <li (click)="XXXX">Dog List</li>
                      <li (click)="XXXXX" >Requests</li>
                      <li (click)="logout()" >Log Out</li>
                    </ul>
                  </a>
                </li>
            </ul>
        </div>
        <div class = "headerseperator"><br></div>

<div class="admin">

    <!-- Add New Dog Section -->
    <div class="add-dog-section">
        <h3>Add New Dog</h3>
        <form (ngSubmit)="onSubmit('add')" enctype="multipart/form-data" ngNativeValidate>
            <div class="form-group">
                <label for="dogName">Name:</label>
                <input [(ngModel)]="newDog.name" name="newDog.name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="dogDateOfBirth">Date of Birth:</label>
                <input type="date" [(ngModel)]="newDog.dateOfBirth" name="newDog.dateOfBirth" class="form-control"
                       required>
            </div>
            <div class="form-group">
                <label for="dogGender">Gender:</label>
                <div class="radio-group">
                    <input type="radio" id="male" name="newDog.gender" value="Male" [(ngModel)]="newDog.gender">
                    <label for="male">Male</label>

                    <input type="radio" id="female" name="newDog.gender" value="Female" [(ngModel)]="newDog.gender">
                    <label for="female">Female</label>
                </div>
            </div>
            <div class="form-group">
                <label for="dogAge">Age:</label>
                <input type="number" [(ngModel)]="newDog.age" name="newDog.age" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="dogBreed">Breed:</label>
                <input [(ngModel)]="newDog.breed" name="newDog.breed" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="dogPicture">Animal Picture:</label>
                <input type="file" accept="image/png, image/jpeg, image/img" name="newDog.picture" class="form-control"
                       style="width: 30px;" placeholder="Picture" (change)="onFileChange($event)" required>
            </div>
            <div class="form-group">
                <label for="dogHeight">Height:</label>
                <input type="number" [(ngModel)]="newDog.height" name="newDog.height" class="form-control">
            </div>
            <div class="form-group">
                <label for="dogWeight">Weight:</label>
                <input type="number" [(ngModel)]="newDog.weight" name="newDog.weight" class="form-control">
            </div>
            <div class="form-group">
                <label for="dogMedicalConditions">Medical Conditions:</label>
                <input [(ngModel)]="newDog.medicalConditions" name="newDog.medicalConditions" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>


    <!-- Display Dogs Table -->
    <div class="dogs-table">
        <h3>Dogs</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Breed</th>
                <th>Picture</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Medical Conditions</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dog of dogs">
                <td>{{dog.name}}</td>
                <td>{{dog.dateOfBirth}}</td>
                <td>{{dog.gender}}</td>
                <td>{{dog.age}}</td>
                <td>{{dog.breed}}</td>
                <td><img src="data:image/png;base64,{{dog.picture}}" alt="Dog Picture" style="max-width: 30px;"></td>
                <td>{{dog.height}}</td>
                <td>{{dog.weight}}</td>
                <td>{{dog.medicalConditions}}</td>
                <td>
                    <button class="btn btn-sm btn-info" (click)="editDog(dog.id)">Edit</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteDog(dog.id)" type="submit">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
