@import url('https://fonts.googleapis.com/css2?family=Murecho');

h1, h2, h3, p, a, li, ul, span, div, td, th {
    font-family: 'Murecho';
}

body {
    margin: 0;
    width: 100%;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.justifiedflex {
    display: flex;
    justify-content: center;
}

.alignedflex {
    display: flex;
    align-items: center;
}

.centeredflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vw15 {
    width: 15%;
}

.vw20 {
    width: 20%;
}

.vw25 {
    width: 25%;
}

.vw30 {
    width: 30%;
}

.vw40{
    width: 40%;
}

.vw50 {
    width: 50%;
}

.vw60 {
    width: 60%;
}

.vw70 {
    width: 70%;
}

.vw80 {
    width: 80%;
}

.vw90 {
    width: 90%;
}

.vw100 {
    width: 100%;
}

.left1 {
    margin-left: 1vw;
}

.left3 {
    margin-left: 3vw;
}

.top3 {
    margin-top: 3vh;
}

.top5 {
    margin-top: 5vh;
}

.top7 {
    margin-top: 7vh;
}

.top10 {
    margin-top: 12vh;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.gold {
    background-color: rgba(208,169,51,255);
}

.black {
    background-color: black;
}

.border {
    border: 5px solid rgba(208,169,51,255);
}





.header {
    position: relative;
    display: flex;
    width: 100%;
    height: 15vh;
}

.headerbg {
    z-index: -1;
    margin-top: -15vh;
    position: absolute;
    width: 100%;
    height: 55vh;
}

.fulllogo {
    margin-top: -2vh;
    position: absolute;
    height: 27vh;
    width: auto;
}

.headerseperator {
    margin-top: 10vh;
    height: 2vh;
    width: 100%;
    background-color: rgba(208,169,51,255);
}

.headertitlecont {
    width: 100%;
}

.headertitle {
    margin-top: 6.5vh;
    margin-right: -1vw;
    text-align: right;
    font-size: 3.5vw;
    color: rgba(208,169,51,255);
}

.footer {
    height: 3vh;
}










.cirleimagescont {
    position: relative;
    width: 100%;
}
.homecircle1 {
    position: absolute;
    margin-top: 19vh;
    margin-left: 27vw;
    height: 20vh;
    width: 20vh;
    border-radius: 300px;
}

.homecircle2 {
    position: absolute;
    margin-top: 4vh;
    margin-left: 62vw;
    height: 10vh;
    width: 10vh;
    border-radius: 300px;
}

.homecircle3 {
    position: absolute;
    margin-top: 6vh;
    margin-left: 18vw;
    height: 15vh;
    width: 15vh;
    border-radius: 300px;
}

.homecircle4 {
    position: absolute;
    margin-top: 25vh;
    margin-left: 62vw;
    height: 25vh;
    width: 25vh;
    border-radius: 300px;
}

.homecircle5 {
    position: absolute;
    margin-top: 7vh;
    margin-left: 43vw;
    height: 11vh;
    width: 11vh;
    border-radius: 300px;
}

.homecircle6 {
    position: absolute;
    margin-top: 4vh;
    margin-left: 88vw;
    height: 15vh;
    width: 15vh;
    border-radius: 300px;
}

.homecircle7 {
    position: absolute;
    margin-top: 4vh;
    margin-left: 33vw;
    height: 9vh;
    width: 9vh;
    border-radius: 300px;
}

.homecircle8 {
    position: absolute;
    margin-top: 8vh;
    margin-left: 75vw;
    height: 14vh;
    width: 14vh;
    border-radius: 300px;
}

.homecircle9 {
    position: absolute;
    margin-top: 26vh;
    margin-left: 82vw;
    height: 20vh;
    width: 20vh;
    border-radius: 300px;
}

.homecircle10 {
    position: absolute;
    margin-top: 8vh;
    margin-left: 2vw;
    height: 25vh;
    width: 25vh;
    border-radius: 300px;
}

.homecircle11 {
    position: absolute;
    margin-top: 32vh;
    margin-left: 16vw;
    height: 13vh;
    width: 13vh;
    border-radius: 300px;
}

.homelogo {
    margin-top: 3vh;
    height: 50vh;
    width: auto;
}

.homeinformation {
    margin-top: -5vh;
    width: 100%;
}

.homelogoseperator {
    height: 1vh;
    width: 80%;
    background-color: rgba(208,169,51,255);
}

.homeinformationtext {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;
    text-align: center;
}

.availabledogscont {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    background-color: #d3b04876
}

.flipfrontimg {
    height: 100%;
    width: 100%;
}

.flipbackimg {
    margin-top: 6vh;
    margin-bottom: -3vh;
    height: 11vh;
    width: auto;
}

.flip-card {
    margin: 1em;
    background-color: transparent;
    height: 50vh;
    width: 25vw;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: rgba(208,169,51,255);
    color: white;
    transform: rotateY(180deg);
}










a {
    text-decoration: none;
    color: inherit;
  }

  * {
    box-sizing: border-box;
  }

  .menu {
    margin-top: 5vh;
    margin-right: 2vw;
    display: block;
    position: relative;
    cursor: pointer;
  }

  .menu-title {
    display: block;
    height: 60px;
    width: 80px;
    padding: 12px 0 0;
    background: rgba(208,169,51,255);
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s background-color;
    cursor: default;
  }

  .menu-title:before {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #9dc852;
    border-left: (150px / 2) solid transparent;
    border-right: (150px / 2) solid transparent;
    border-bottom: 0 solid #dddddd;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition:
      0.2s 0.2s border-top ease-out,
      0.3s border-top-color;
  }

  .menu-title:hover { background: black; }
  .menu-title:hover:before { border-top-color: #8db842; }

  .menu:hover > .menu-title:before {
    border-top-width: 0;
    transition:
      0.2s border-top-width ease-in,
      0.3s border-top-color;
  }

  .menu-title:after {
    content: "";
    display: block;
    height: 0;
    border-left: (150px / 2) solid transparent;
    border-right: (150px / 2) solid transparent;
    border-bottom: 0 solid #ebebeb;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 101;
    transition: 0.2s border-bottom ease-in;
  }

  .menu:hover > .menu-title:after {
    border-bottom-width: 5px;
    transition: 0.2s 0.2s border-bottom-width ease-out;
  }

  .menu-dropdown {
    text-align: center;
    margin-top: 0vh;
    min-width: 100%;
    padding: 15px 0;
    position: absolute;
    background: #ebebeb;
    z-index: 100;
    transition:
      0.5s padding,
      0.5s background;
  }

  .menu-dropdown:after {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #ebebeb;
    border-left: (150px / 2) solid transparent;
    border-right: (150px / 2) solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.5s border-top;
  }

  .menu:not(:hover) > .menu-dropdown {
    padding: 4px 0;
    background: #dddddd;
    z-index: 99;
  }

  .menu:not(:hover) > .menu-dropdown:after {
    border-top-color: #dddddd;
  }

  .menu:not(:hover) > .menu-title:after {
    border-bottom-color: #dddddd;
  }

  .menu-dropdown > * {
    overflow: hidden;
    height: 30px;
    padding: 5px 10px;
    background: rgba(0,0,0,0);
    white-space: nowrap;
    transition:
      0.5s height cubic-bezier(.73,.32,.34,1.5),
      0.5s padding cubic-bezier(.73,.32,.34,1.5),
      0.5s margin cubic-bezier(.73,.32,.34,1.5),
      0.5s 0.2s color,
      0.2s background-color;
  }

  .menu-dropdown > *:hover {
    background: rgba(0,0,0,0.1);
  }

  .menu:not(:hover) > .menu-dropdown > * {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: rgba(25,25,25,0);
    transition:
      0.5s 0.1s height,
      0.5s 0.1s padding,
      0.5s 0.1s margin,
      0.3s color,
      0.6s visibility;
    z-index: 99;
  }

  .hList > * {
    float: left;
  }

  .hList > * + * {
    margin-left: 0;
  }
