<p>show-dogs works!</p>

<!doctype html>
<html lang="en">
<head>
  <title>Dogs</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>Dogs for Adoption</h1>
<table class="table table-striped table-inverse table-responsive">
  <thead class="thead-inverse">
  <tr>
    <th>id</th>
    <th>picture</th>
    <th>name</th>
    <th>age</th>
    <th>date of birth</th>
    <th>gender</th>
    <th>breed</th>
    <th>height</th>
    <th>weight</th>
    <th>medical conditions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dog of dogs">
    <td>{{dog.id}}</td>
    <td>placeholder</td>
    <td>{{dog.name}}</td>
    <td>{{dog.age}}</td>
    <td>{{dog.dateOfBirth}}</td>
    <td>{{dog.gender}}</td>
    <td>{{dog.breed}}</td>
    <td>{{dog.height}}</td>
    <td>{{dog.weight}}</td>
    <td>{{dog.medicalConditions}}</td>
  </tr>
  </tbody>
</table>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
