 <!-- Navigation Bar -->

 <ul class="hList">
  <li>
    <a href="#click" class="menu">
      <img class="menu-title" alt = "Menu Icon" src = "assets/menu.png">
      <ul class="menu-dropdown">
        <li>View All</li>
        <li>Profile</li>
        <li>Log Out</li>
      </ul>
    </a>
  </li>
</ul>


<nav class="admin-navbar">
<ul>    
<li><a routerLink="/app/src/app/admin-database">Database</a></li>
  <li><a routerLink="/app/src/app/admin-show-dogs">Show Dogs</a></li>
  <li><a routerLink="/app/src/app/admin-show-dog">Show Dog</a></li>
</ul>
</nav>


<!doctype html>
<html lang="en">
<head>
  <title>Dogs</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
</head>
<body>
   


  <section class="dogs">
    <div class="dog-content">
        <h1>Welcome to Our Dog Adoption Center</h1>
        <p>Find your furry friend today!</p>
    </div>
</section>
  
<table class="dog-table">
  <thead>
    <tr>
      <th>Requestee Name</th>
      <th>Dog Name</th>
            <th>Date and Time Created</th>
            <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let adoption of adoptions">
  <td>{{adoption.name}}</td>
  <td>{{adoption.dogName}}</td>
  <td>{{adoption.dateAndTimeCreated}}</td>
  <td>{{adoption.status}}</td>
  <td>
    <button (click)="acceptAdoption(adoption)">Accept</button>
    <button (click)="rejectAdoption(adoption)">Reject</button>
  </td>
  </tr>
</tbody>
</table>

  
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
  
        
  </body>
</html>
