<!DOCTYPE html>
<html>
    <head>
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class = "header">
            <img class = "headerbg" alt = "Header Background Image" src = "assets/tilesbg.png">
            <img class = "fulllogo" alt = "Logo" src = "assets/fulllogo.png">
            <div class = "headertitlecont">
                <h1 class = "headertitle">Request List</h1>
            </div>
            <ul class="hList">
                <li>
                  <a class="menu">
                    <img class="menu-title" alt = "Menu Icon" src = "assets/menu.png">
                    <ul class="menu-dropdown">
                      <li >Dog List</li>
                      <li >Requests</li>
                      <li >Log Out</li>
                    </ul>
                  </a>
                </li>
            </ul>
        </div>
        <div class = "headerseperator"><br></div>

        <!-- <div class="topnav">
          <a (click)="XXXXX">Add Dog</a>
          <a (click)="XXXXX">Edit Dog</a>
          <a (click)="XXXXX">Show Dog</a>
        </div> -->

        <table class="admintable">
          <thead>
            <tr>
              <th class = "tableheader" colspan = 5>Adoption Request List</th>
            </tr>
            <tr>
              <th class = "noborder tablelabels vw25">Adoptee Name</th>
              <th class = "noborder tablelabels vw25">Dog Name</th>
              <th class = "noborder tablelabels vw10">Date and Time Created</th>
              <th class = "noborder tablelabels vw10">Status</th>
              <th class = "bottomborder tablelabels vw30">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let adoption of adoptions">
              <td>{{adoption.name}}</td>
              <td>{{adoption.dogName}}</td>
              <td>{{adoption.dateAndTimeCreated}}</td>
              <td>{{adoption.status}}</td>
              <td class = "centeredflex noborder">
                <button class = "btn1" (click)="acceptAdoption(adoption)">Accept</button>
                <button class = "btn2" (click)="rejectAdoption(adoption)">Reject</button>
              </td>
            </tr>
          </tbody>
        </table>
    </body>
  </html>