<!doctype html>
<html lang="en">
<body>

<div class="admin">
    <h2>Admin Dashboard</h2>

    <!-- Add New Dog Section -->
    <!-- <div class="add-dog-section">
      <h3>Add New Dog</h3>
      <form (ngSubmit)="onSubmit('add')"  enctype="multipart/form-data">
        <div class="form-group">
          <label for="dogName">Name:</label>
          <input [(ngModel)]="newDog.name" name="newDog.name" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="dogDateOfBirth">Date of Birth:</label>
          <input type="date" [(ngModel)]="newDog.dateOfBirth" name="newDog.dateOfBirth" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="dogGender">Gender:</label>
          <div class="radio-group">
            <input type="radio" id="male" name="newDog.gender" value="Male" [(ngModel)]="newDog.gender">
            <label for="male">Male</label>
        
            <input type="radio" id="female" name="newDog.gender" value="Female" [(ngModel)]="newDog.gender">
            <label for="female">Female</label>
          </div>
        </div>
        <div class="form-group">
          <label for="dogAge">Age:</label>
          <input type="number" [(ngModel)]="newDog.age" name="newDog.age" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="dogBreed">Breed:</label>
          <input [(ngModel)]="newDog.breed" name="newDog.breed" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="dogPicture">Animal Picture:</label>
          <input type="file" accept="image/png, image/jpeg, image/img" name="newDog.picture"   class="form-control" placeholder="Picture" (change)="onFileChange($event)" required>
        </div>
        <div class="form-group">
          <label for="dogHeight">Height:</label>
          <input type="number" [(ngModel)]="newDog.height" name="newDog.height" class="form-control">
        </div>
        <div class="form-group">
          <label for="dogWeight">Weight:</label>
          <input type="number" [(ngModel)]="newDog.weight" name="newDog.weight" class="form-control">
        </div>
        <div class="form-group">
          <label for="dogMedicalConditions">Medical Conditions:</label>
          <input [(ngModel)]="newDog.medicalConditions" name="newDog.medicalConditions" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div> -->

    <!-- Display Dogs Table -->
    <div class="dogs-table">
      <h3>Dogs</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
			<th>Date Of Birth</th>
			<th>Gender</th>
            <th>Age</th>
            <th>Breed</th>
            <th>Picture</th>
            <th>Height</th>
            <th>Weight</th>
			<th>Medical Conditions</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dog of dogs">
            <td>{{dog.name}}</td>
			<td>{{dog.dateOfBirth}}</td>
			<td>{{dog.gender}}</td>
            <td>{{dog.age}}</td>
            <td>{{dog.breed}}</td>
            <td><img src="data:image/png;base64,{{dog.picture}}" alt="Dog Picture"></td>
            <td>{{dog.height}}</td>
            <td>{{dog.weight}}</td>
			<td>{{dog.medicalConditions}}</td>
            <td>
              <button class="btn btn-sm btn-info" type="submit" (click)="editIndexValue(dog.id)">Edit</button>
              <button class="btn btn-sm btn-danger" type="submit" (click)="deleteIndexValue(dog.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Edit Dog Section -->
    <div class="edit-dog-section">
      <h3>Edit Dog</h3>
      <form>
        <div class="form-group">
		<label for="dogName">Name:</label>
          <input name="selectedDog.name" [(ngModel)]="selectedDog.name" class="form-control" placeholder="Name" required>
        </div>
        <div class="form-group">
		<label for="dogName">Date of Birth:</label>
          <input type="date" name="selectedDog.dateOfBirth" [(ngModel)]="selectedDog.dateOfBirth" class="form-control" placeholder="dateOfBirth" required>
        </div>
        <div class="form-group">
		<label for="dogName"> Gender:</label>
          <input name="selectedDog.gender" [(ngModel)]="selectedDog.gender" class="form-control" placeholder="gender" required>
        </div>
        <div class="form-group">
		<label for="dogName">Breed:</label>
          <input name="selectedDog.breed" [(ngModel)]="selectedDog.breed" class="form-control" placeholder="Breed" required>
        </div>
        <div class="form-group">
		<label for="dogName">Dog Picture:</label>
          <input type="file" accept="image/png, image/jpeg, image/img" name="selectedDog.picture" [(ngModel)]="selectedDog.picture" class="form-control" placeholder="Picture">
        </div>
        <div class="form-group">
		<label for="dogName">Height:</label>
          <input name="selectedDog.height" [(ngModel)]="selectedDog.height" class="form-control" placeholder="Height">
        </div>
        <div class="form-group">
		<label for="dogName">Weight:</label>
          <input name="selectedDog.weight" [(ngModel)]="selectedDog.weight" class="form-control" placeholder="Weight">
        </div>
        <div class="form-group">
		<label for="dogName">Medical Condition:</label>
          <input [(ngModel)]="selectedDog.medicalConditions" name="selectedDog.medicalConditions" class="form-control" placeholder="Medical Conditions" required>
        </div>
        <button type="submit" (click)="onSubmit('edit')" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</body>
