<!doctype html>
<html lang="en">
<body>

<div class="admin">
    <h2>Admin Dashboard</h2>
  
    <!-- Add New Dog Section -->
    <div class="add-dog-section">
      <h3>Add New Dog</h3>
      <form>
        <div class="form-group">
          <input [(ngModel)]="newDog.name" name="newDog.name" class="form-control" placeholder="Name" required>
        </div>
        <div class="form-group">
          <input type="date" [(ngModel)]="newDog.dateOfBirth" name="newDog.dateOfBirth" class="form-control" placeholder="date Of Birth" required>
        </div>
        <div class="form-group">
          <input [(ngModel)]="newDog.gender" name="newDog.gender" class="form-control" placeholder="gender" required>
        </div>
        <div class="form-group">
          <input [(ngModel)]="newDog.breed" name="newDog.breed" class="form-control" placeholder="Breed" required>
        </div>
        <input type="file" accept="image/png, image/jpeg, image/img" name="newDog.picture"  [(ngModel)]="newDog.picture" class="form-control" placeholder="Picture" required>
        <div class="form-group">
          <input [(ngModel)]="newDog.height" name="newDog.height" class="form-control" placeholder="Height" required>
        </div>
        <div class="form-group">
          <input [(ngModel)]="newDog.weight" name="newDog.weight" class="form-control" placeholder="Weight" required>
        </div>
        <div class="form-group">
          <input [(ngModel)]="newDog.medicalConditions" name="newDog.medicalConditions" class="form-control" placeholder="medicalConditions" required>
        </div>
        <button type="submit" (click)="onSubmit('addDog')" class="btn btn-primary">Add</button>
      </form>
    </div>
  
    <!-- Display Dogs Table -->
    <div class="dogs-table">
      <h3>Dogs</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Breed</th>
            <th>Picture</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dog of dogs">
            <td>{{dog.name}}</td>
            <td>{{dog.age}}</td>
            <td>{{dog.breed}}</td>
            <td><img src="{{dog.picture}}" alt="Dog Picture"></td>
            <td>{{dog.height}}</td>
            <td>{{dog.weight}}</td>
            <td>
              <button class="btn btn-sm btn-info" type="submit" (click)="editIndexValue(dog.id)">Edit</button>
              <button class="btn btn-sm btn-danger" type="submit" (click)="deleteIndexValue(dog.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Edit Dog Section -->
    <div class="edit-dog-section">
      <h3>Edit Dog</h3>
      <form>
        <div class="form-group">
          <input name="selectedDog.name" [(ngModel)]="selectedDog.name" class="form-control" placeholder="Name" required>
        </div>
        <div class="form-group">
          <input type="date" name="selectedDog.dateOfBirth" [(ngModel)]="selectedDog.dateOfBirth" class="form-control" placeholder="dateOfBirth" required>
        </div>
        <div class="form-group">
          <input name="selectedDog.gender" [(ngModel)]="selectedDog.gender" class="form-control" placeholder="gender" required>
        </div>
        <div class="form-group">
          <input name="selectedDog.breed" [(ngModel)]="selectedDog.breed" class="form-control" placeholder="Breed" required>
        </div>
        <div class="form-group">
          <input type="file" accept="image/png, image/jpeg, image/img" name="selectedDog.picture" [(ngModel)]="selectedDog.picture" class="form-control" placeholder="Picture">
        </div>
        <div class="form-group">
          <input name="selectedDog.height" [(ngModel)]="selectedDog.height" class="form-control" placeholder="Height">
        </div>
        <div class="form-group">
          <input name="selectedDog.weight" [(ngModel)]="selectedDog.weight" class="form-control" placeholder="Weight">
        </div>
        <div class="form-group">
          <input [(ngModel)]="selectedDog.medicalConditions" name="selectedDog.medicalConditions" class="form-control" placeholder="Medical Conditions" required>
        </div>
        <button type="submit" (click)="onSubmit('editDog')" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</body>