 <!-- Navigation Bar -->

 <ul class="hList">
    <li>
      <a href="#click" class="menu">
        <img class="menu-title" alt = "Menu Icon" src = "assets/menu.png">
        <ul class="menu-dropdown">
          <li>View All</li>
          <li>Profile</li>
          <li>Log Out</li>
        </ul>
      </a>
    </li>
  </ul>
  
  
  
  <!doctype html>
  <html lang="en">
  <head>
    <title>Dogs</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
  </head>
  <body>
     
    <h1 class="text-center">Dogs for Adoption</h1>
  
    <section class="dogs">
      <div class="dog-content">
          <h1>Welcome to Our Dog Adoption Center</h1>
          <p>Find your furry friend today!</p>
          <a href="#" class="cta-button">Adopt Now</a>
      </div>
  </section>
    
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Breed</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Medical Conditions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dog of dogs">
        <td><a href="/dog/{{dog.id}}">{{dog.name}}</a></td>
        <td>{{dog.age}}</td>
        <td>{{dog.gender}}</td>
        <td>{{dog.breed}}</td>
        <td>{{dog.height}}</td>
        <td>{{dog.weight}}</td>
        <td>{{dog.medicalConditions}}</td>
      </tr>
    </tbody>
  </table>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    
    
            <footer>
              <div class="footer-content">
                  <p>&copy; 2023 Dog Adoption Center</p>
                  <ul class="social-links">
                      <li><a href="#"><img src="facebook-icon.png" alt="Facebook"></a></li>
                      <li><a href="#"><img src="twitter-icon.png" alt="Twitter"></a></li>
                      <li><a href="#"><img src="instagram-icon.png" alt="Instagram"></a></li>
                  </ul>
              </div>
          </footer>
          
    </body>
  </html>
  