<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div class = "centeredflex vw100">
            <img class = "logo" alt = "Logo" src = "assets/fulllogo.png">
        </div>

        <form method="POST" action="">
            <div class="col">
                <div class="minput">
                    <input type="text" id="fname" name="fname" required>
                    <span class="bar"></span>
                    <label>First Name</label>
                </div>
                <div class="minput">
                    <input type="text" id="lname" name="lname" required>
                    <span class="bar"></span>
                    <label>Last Name</label>
                </div>
                <div class="minput">
                    <input type="date" id="birthdate" name="birthdate" required>
                    <span class="bar"></span>
                    <p class = "bdatelabel">Birthdate</p>
                </div>
                <div class="control-group">
                    <span class="sex">Sex :</span>
                    <label class="control control--radio">Male
                        <input type="radio" name="radio" id="male" />
                        <div class="control__indicator"></div>
                    </label>
                    <label class="control control--radio">Female
                        <input type="radio" name="radio" id="female" />
                        <div class="control__indicator"></div>
                    </label>
                </div>
                <div class="minput">
                    <input type="text" id="address" name="address" required>
                    <span class="bar"></span>
                    <label>Address</label>
                </div>
            </div>
            <div class="col">
                <div class="minput">
                    <input type="tel" id="phone" name="phone" required>
                    <span class="bar"></span>
                    <label>Phone Number</label>
                </div>

                <div class="minput">
                    <input type="email" id="email" name="email" required>
                    <span class="bar"></span>
                    <label>Email</label>
                </div>

                <div class="minput">
                    <input type="password" id="password" name="password" required>
                    <span class="bar"></span>
                    <label>Passwrod</label>
                </div>

                <div class="minput">
                    <input type="password" id="passwordconfirm" name="passwordconfirm" required>
                    <span class="bar"></span>
                    <label>Retype Password</label>
                </div>

                <div class="minput">
                    <div class = "centeredflex vw100">
                        <input class = "submitbtn vw50" type="submit" id="send" value="Submit">
                        <button class = "backbtn vw50" (click)="redirectToLogin()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>






















<!-- <!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>










    </body>
</html> -->
