<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div class = "centeredflex vw100">
            <img class = "logo" alt = "Logo" src = "assets/fulllogo.png">
        </div>

        <form>
            <div class="col">
                <div class="minput">
                    <input type="text" [(ngModel)]="user.firstName" id="fname" name="fname" required>
                    <span class="bar"></span>
                    <label>First Name</label>
                </div>
                <div class="minput">
                    <input type="text" [(ngModel)]="user.lastName" id="lname" name="lname" required>
                    <span class="bar"></span>
                    <label>Last Name</label>
                </div>
                <div class="minput">
                    <input type="text" [(ngModel)]="user.address" id="address" name="address" required>
                    <span class="bar"></span>
                    <label>Address</label>
                </div>
                <div class = "back">
                    <button class = "backbtn vw50" (click)="redirectToLogin()">Cancel</button>
                </div>
            </div>
            <div class="col">
                <div class="minput">
                    <input type="tel" [(ngModel)]="user.phone" id="phone" name="phone" required>
                    <span class="bar"></span>
                    <label>Phone Number</label>
                </div>

                <div class="minput">
                    <input type="email" [(ngModel)]="user.email" id="email" name="email" required>
                    <span class="bar"></span>
                    <label>Email</label>
                </div>

                <div class="minput">
                    <input type="password" [(ngModel)]="password" id="password" name="password" required>
                    <span class="bar"></span>
                    <label>Password</label>
                </div>

                <div class="minput">
                    <input type="password" [(ngModel)]="passwordconfirm" id="passwordconfirm" name="passwordconfirm" required>
                    <span class="bar"></span>
                    <label>Retype Password</label>
                </div>

                <div class="minput">
                    <div class = "centeredflex vw100">
                        <input type="button" class = "submitbtn vw50" (click)="onSubmit()" id="send" value="Submit">
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>






















<!-- <!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>










    </body>
</html> -->
